<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light">
        <app-liste-cv (selectedPersonne)="selectPersonne($event)" [personnes]="personnes"></app-liste-cv>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <app-detail-cv *ngIf="selectedPersonne"
          [personne]="selectedPersonne"></app-detail-cv>
      </div>
    </div>
    <div>
      <app-embaucher></app-embaucher>
    </div>
  </div>
  <!--<div class="row gx-5">
    <app-style [bgColor]="'red'" [color]="'pink'"></app-style>
  </div>
  <div class="row gx-5">
    <app-class></app-class>
  </div>-->
</div>

