<p [ngClass]="{'usm':usm, 'barca':barca, 'liverpool':liverpool}">
  {{nomEquipe}}
</p>
<button type="button" class="btn btn-primary" (click)="changeToUsm()">USM</button>
<button type="button" class="btn btn-warning" (click)="changeToBarca()">Barca</button>
<button type="button" class="btn btn-danger" (click)="changeToLiverpool()">Liverpool</button>
<div appHighlight>
  Bonjour je teste un Attribute Directives
</div>
<div>
  Bonjour je teste un Attribute Directives avancé
<div class="input-group mb-3">
  <input *ngIf="show" type="text" class="form-control" appRainbow>
</div>
  <button type="button" class="btn btn-danger" (click)="show = !show">*ngIf</button>
</div>

<h1>*ngFor</h1>

<ol *ngFor="let team of teams">
  <li class="list-group-item">{{team}}</li>
</ol>
